In [ ]:
Functions:
Types:
In Built 
User defined 
Anonymous (Lambda)
Random
Local and Global

In [1]:
def sample():
    print('Hello')

In [3]:
def sample():
    print('Hello')
    
sample()
sample()

Hello
Hello

In [5]:
def sample(a,b):
    x=a+b
    print(x)
    
sample(3,5)

8

In [6]:
def sample(a,b):
    x=a+b
    return x
    
sample(3,5)

8

In [8]:
def sample(a,b):
    x=a+b
    return x
    
r=sample(3,5)
print(r)

8

In [9]:
def sample(a,b):
    x=a+b
    y=a*b
    return x,y
    
r1, r2=sample(3,5)
print(r1,r2)

8 15

In [10]:
#Positional arguments
def stddt(name,rank):
    print('student Name: ' , name,'student Rank: ', rank )
stddt('ram',2)

student Name:  ram student Rank:  2

In [11]:
stddt('ram')

TypeError: stddt() missing 1 required positional argument: 'rank'

In [13]:
def add(a,c,b=40):
    tot = a+b+c
    print ('sum is:  ' , tot)

add(10,20)
add(10,20,5)

sum is:   70
sum is:   35

In [16]:
def my_funct(*Tech):
    print("The popular technology is " , Tech[2])
    print("The popular technology is " , Tech)
my_funct("Java", "SAS", "Python")

The popular technology is  Python
The popular technology is  ('Java', 'SAS', 'Python')

In [17]:
def my_funct(Tech):
    print("The popular technology is " , Tech[2])
    print("The popular technology is " , Tech)
my_funct("Java", "SAS", "Python")

TypeError: my_funct() takes 1 positional argument but 3 were given

In [19]:
def my_funct(*Tech):
    for i in Tech:
        print(i)
my_funct("Java", "SAS", "Python")

Java
SAS
Python

In [20]:
# input as keyword arguments for function
#send arguments with the key = value syntax.
def my_funct(Tech1,Tech2,Tech3):
  print("The popular technology is " + Tech3)

my_funct(Tech1 = "Java", Tech2 = "SAS", Tech3 = "Python")

The popular technology is Python

In [21]:
'''The %s token allows me to insert (and potentially format) a string. 
Notice that the %s token is replaced by whatever I pass to the string after 
the % symbol. Notice also that I am using a tuple here as well 
(when you only have one string using a tuple is optional) to illustrate that multiple 
strings can be inserted and formatted in one statement.
'''
name = input("who are you? ")
print("hello %s" % (name,))

who are you? kumar
hello kumar

In [22]:
def my_funct(**Tech):
  print("The popular technology is ", Tech)

my_funct(Tech1 = "Java", Tech2 = "SAS", Tech3 = "Python")

The popular technology is  {'Tech1': 'Java', 'Tech2': 'SAS', 'Tech3': 'Python'}

In [23]:
def my_funct(*Tech):
  print("The popular technology is ", Tech)

my_funct(Tech1 = "Java", Tech2 = "SAS", Tech3 = "Python")

TypeError: my_funct() got an unexpected keyword argument 'Tech1'

In [30]:
def my_funct(**Tech):
    for i,j in Tech.items():
        print(i,j)
my_funct(Tech1 = "Java", Tech2 = "SAS", Tech3 = "Python")

Tech1 Java
Tech2 SAS
Tech3 Python

In [29]:
def myfunc(name, gender, age):
    print (name," is a ", gender, " of age ", age)


mydict = {'name': "Faraz", 'gender': "male", 'age': "20"}

myfunc(**mydict)

Faraz  is a  male  of age  20

In [31]:
def myfunc(**kwargs):
    print("I work with the follwoing people: ")
    for people in kwargs:
        print (kwargs[people])


mydict = {'person1': "Faraz", 'person2': "Rukhshan", 'person3': "Muzammil"}

myfunc(**mydict)

I work with the follwoing people:
Faraz
Rukhshan
Muzammil

In [32]:
#call a function in python using a dictionary
d = dict(param='test')

def f(param):
    print(param)

f(d)

{'param': 'test'}

In [34]:
d = dict(p1=1, p2=2)
def f2(p1,p2):
    print(p1, p2)
f2(**d)

1 2

In [35]:
#both positional and keyword arguments
def myfunc3(a, *posargs, b=2, **kwargs):
    print(a, b)
    print(posargs)
    print(kwargs)

mylist = [10, 20, 30]
mydict = {'b': 200, 'c': 300}

myfunc3(*mylist, **mydict)

10 200
(20, 30)
{'c': 300}