Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

Steps to Print Pattern in Python
--------------------------------
Decide the number of rows and columns
The outer loop tells us the number of rows, and the inner loop tells us the column needed to print the pattern.

Iterate rows
Next, write an outer loop to Iterate the number of rows using a for loop and range() function.

Iterate columns
Next, write the inner loop or nested loop to handle the number of columns. The internal loop iteration depends on the values of the outer loop.

Print star or number
Use the print() function in each iteration of nested for loop to display the symbol or number of a pattern (like a star (asterisk *) or number).

Add new line after each iteration of outer loop
Add a new line using the print() function after each iteration of the outer loop so that the pattern display appropriately

In [ ]:
for var in seq:
    for var in seq:
        statements
    statements
    
while exp:
    while exp:
        statements
    statements

In [1]:
color = ["blue", "red", "white"]
mobiles = ["iphone", "Samsung", "Motorola"]

for i in color:
    for j in mobiles:
        print(i,j)

blue iphone
blue Samsung
blue Motorola
red iphone
red Samsung
red Motorola
white iphone
white Samsung
white Motorola

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(5):
    #print(i, end='')
    print(i, end=' ')

0 1 2 3 4

In [5]:
for i in range(5):
    print('*', end=' ')

* * * * *

In [14]:
for i in range(1,5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [15]:
for i in range(1,5):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *

In [16]:
n=4
for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [20]:
n = 5
b = 0
# reverse for loop from 5 to 0
for i in range(n, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [21]:
nrows = 5
num = nrows
# reverse for loop
for i in range(nrows, 0, -1):
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [22]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [23]:
rows = 6
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [25]:
nrows = 5
for i in range(1, nrows + 1):
    for j in range(1, nrows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [26]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [27]:
print("Print equilateral triangle Pyramid using asterisk symbol ")
# printing full Triangle pyramid using stars
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    # decrementing m after each loop
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end=' ')
    print(" ")

Print equilateral triangle Pyramid using asterisk symbol
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [28]:
rows = 5
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end=" ")
    k = k - 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("* ", end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [29]:
# ASCII number of 'A'
ascii_number = 65
rows = 7
for i in range(0, rows):
    for j in range(0, i + 1):
        character = chr(ascii_number)
        print(character, end=' ')
        ascii_number += 1
    print(" ")

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [30]:
word = "Google"
x = ""
for i in word:
    x += i
    print(x)

G
Go
Goo
Goog
Googl
Google

In [31]:
# Pyramid of horizontal tables of numbers
nrows = 10
for i in range(1, nrows + 1):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [19]:
for i in range(1,3):
    for j in range(1,11):
        print('%d * %d = %d' %(i,j, i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20